@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cor1: hsl(158, 36%, 37%);
  --cor2: hsl(30, 38%, 92%);
  --cor3: hsl(212, 21%, 14%);
  --cor4: hsl(228, 12%, 48%);
  --cor5: hsl(0, 0%, 100%);
  --fonte-padrao: "Fraunces", serif;
  --fonte-alternativa: "Montserrat", serif;
}
* {
  margin: 0px;
  padding: 0px;
}
html, body{
  background-color: var(--cor2);
  font-family: var(--fonte-alternativa);
}
article {
  width: 620px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
aside {
  background-color: var(--cor5); 
  padding: 20px 50px 20px 30px;
  border-radius: 0px 10px 10px 0px;
}
h1 {
  font-family: var(--fonte-padrao);
  font-size: 2em;
  line-height: 40px;
  margin-bottom: 20px;
}
p {
  color: var(--cor4);
  font-size: 15px;
  margin-bottom: 20px;
}
#destaque {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 10px;
}
strong {
  font-size: 2em;
  font-family: var(--fonte-padrao);
  color: var(--cor1);
}
span {
  display: flexbox;
  text-decoration: line-through;
  vertical-align: 5px;
  margin-left: 15px;
}
svg {
  margin-right: 5px;
}
img{
  width: 300px;
  border-radius: 10px 0px 0px 10px;
}
a {
  display: block;
  text-align: center;
  font-weight: 500;
  background-color: var(--cor1);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 15px 40px 15px 40px;
  margin-top: 50px;
  margin-left: 10px;
}
  @media only screen and (max-width: 620px) {
    article {
      flex-direction: column;
      max-width: 75vw;
    }
    aside {
      margin-top: -5px;
      border-radius: 0px 0px 20px 20px;
    }
    img {
      width: 75vw;
      border-radius: 20px 20px 0px 0px;
    }
    a {
      margin-top: 10px;
    }
  }